h1 ,h2 , h3 , h4{
    color: #00A8FF
}
.container{
    padding: 5px;
    p{
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }
    li{
        strong{
            color : #919ea38e;
        }
    }
}
